.loader-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: '100%';
    position: relative;
    z-index: 2;
    margin-top: 340px;
}