.register-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-view-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.version-container-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 30px;
}

.css-jupps9-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: var(--rounded-btn, 0.5rem) !important;
    border: 0;
    display: flex;
    flex-direction: row-reverse;
    background-color: transparent;
    margin: 0;
}

.css-elo8k2-MuiInputAdornment-root {
    margin-left: 5px !important;
    background-color: transparent !important;
}

.css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
    opacity: 0.6 !important;
    margin: 0;
}
.css-5wchs2-MuiDateCalendar-root {
    height: 270px !important;
    background-color: transparent !important;
}

.css-aj5au3-MuiPaper-root-MuiPickersPopper-paper {
    border-radius: 20px !important;
}

.css-1n1xn3x-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
    min-height: 170px !important;
}

.btn-next {
    width: 100%;
    position: fixed;
    margin-left: -10px;
    padding-left: 10px;
    padding-right: 10px;
    bottom: 35px;
}

.input:focus {
    outline-style: none !important;
}