
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 600px;
    justify-content: space-between;
    margin-top: 100px;
}
.header-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.version-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.version-text {
    font-size: .7rem;
    opacity: .6;
}


