.exists-email-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-view {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.version-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

.version-text {
    font-size: .7rem;
    opacity: .6;
}


